* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.reconfig {
  font-size: 2rem;
  margin: 20px auto;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 25px;
  background: blue;
  color: white;
  box-shadow: 2px 2px 5px 1px black;
  cursor: pointer;
}

.gridDivs {
  border: 1px solid black;
  background: blue;
  cursor: pointer;
  transition: all, .9s ease-out;
}

.green {
  background: green;
}